/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.aboutUsContainer {
  background: linear-gradient(
    90.07deg,
    rgba(30, 42, 93, 0.04) 30.91%,
    rgba(48, 62, 130, 0.04) 64.79%,
    rgba(60, 80, 157, 0.04) 91.94%
  );
}

.articleCardText {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.01em;

  color: #444957;
}

.articleCardBtn {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 46px;
  /* identical to box height, or 216% */

  letter-spacing: 0.03em;

  color: #424961;
}

.pageNo {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
  /* identical to box height, or 124% */

  color: #424961;
}

.footerText {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 8.8px;
  line-height: 12px;
  /* or 157% */

  color: #646874;
}
